.App {
  text-align: center;
  display: grid;
  grid-template-columns: 30% 70%;
}



ul li {
  list-style: none;
}
label{
  width: 200px;
  display: inline-block;
  text-align: left;
}

i {
  margin: 10px;
  cursor: pointer;
}
.iContainter{
  display: flex;
  justify-content: end;
}

.formContainer {
  display: inline-block;
  background: black;
  width: 300px;
  height: auto;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 5px 5px 20px;
  margin: 5px
}
.input-container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  background: whitesmoke;
  border-radius: 5px;
  width: 250px;
  height: auto;
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 5px 20px;
  text-align: left;
}

.col{
  height: 100vh;
  overflow-y:scroll;
}

.col1{
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  margin: 5px;
  color: black;
  background: white
}

button{
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

button:hover{
  color: white;
  background-color: black;
}


@media only screen and (max-width: 800px) {
  .App {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}